
.searchbar-main {
    text-align: center;
}

.searchbar-input {
    width: 320px;
    height: 30px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid lightgray;
}

.searchbar-button {
    height: 36px;
    border: 1px solid lightgray;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

